* {
  box-sizing: border-box;
}

body {
  background-color: bisque;
}

/* changes the background-color to bisque if the viewport is 600 pixels wide or wider 
(if the viewport is less than 600 pixels, the background-color will be tan):*/

/* if the viewport is at or greater than 800 pixels, the background-color will be blue */
@media screen and (min-width: 800px) {
  body {
    background-color: #f1f1f1;
  }
}

/* On row(default) flex direction, main axis is horizondal and cross axis is vertical and for column direction , vice versa.*/

.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* Always align on the cross axis */
  align-items: center;
  /* Always align on the main axis */
  justify-content: space-around;
}

.flex-item {
  background-color: #f1f1f1;
  padding: 30px;
  flex: 1;
  height: 80%;
  width : 300px;
}


.flex-item-middle {
  background-color: #f1f1f1;
  padding: 40px;
  flex: 30%;
  height: 80%;
}

.flex-item-right {
  background-color: #f1f1f1;
  padding: 40px;
  flex: 30%;
  height: 80%;
}


/* Responsive layout - makes a one column-layout instead of a two-column layout */
/* change the percentage of the flex property of the flex items to create different layouts for 
different screen sizes.Note that we also have to include flex-wrap: wrap; on the flex container 
for this example to work:*/
/* the direction changes when the screen size is 800px (breakpoint)wide or smaller, both flex-items will be aligned in column by taking 100% of flex */

@media (max-width: 800px) {
  .flex-item {
    flex: 100%;
  }
}