.wrapper {overflow: auto;}

#leftsidebar {
  float: none;
  width: auto;
}

#table-container {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 480px) {
  #leftsidebar {width: 200px; float: left;}
}

.table-style {
  border-collapse: collapse;
  margin-top: 10px;
  width: 100%;
  font-family:'Poppins', sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  height : 100%;
}

.table-style thead tr {
  background-color: #03009879;
  color: #ffffff;
  text-align: center;
}

.table-style th,
.table-style td {
  padding: 12px 12px;
  text-align: center;
}

.table-style tbody {
  background-color: aliceblue;
}